/* GENERAL STYLES */
* {
    box-sizing: border-box;
}
h1, h2, h3, ul, p, img {
    margin-bottom: 1.5rem;
}
body {
    background: url(img/background.png) repeat center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #444349;
}

.locations, .program, .gifts, .qaa, .contact, .cover {
    width: 95%;
    margin: 1.5rem auto;
    text-align: center;
    padding: .5rem 1rem;
}
h1, h2 {
    font-family: 'Great Vibes', cursive;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1,5rem;
}
a {
    text-decoration: none;
    color: #bd806e;
}
a:hover {
    color: #eda087;
    transition: color .15s ease-in-out;
}
/* HEADER STYLES*/

.cover {
    background: url(img/headerJpg.jpg) no-repeat center/cover;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    display: table;
    text-align: center;
}
.header {
    vertical-align: middle;
    display: table-cell;
}
.headerContent {
    margin: 0 auto;
    padding: .625rem;
    color: hsla(0,0%,100%,.9);
    background: hsla(100,0%,0%,.5);
}
.headerContent h1 {
    font-size: 3.15rem;
    color: #d2ba87;
    margin-bottom: 0;
}
.firstRow {
    font-size: 1rem;
    letter-spacing: .15rem;
    color: white;
    text-transform: uppercase;
}
.firstRow::after {
    display: block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 12.3rem;
    margin: .5rem auto;
}
.date {
    font-size: 1rem;
    letter-spacing: .15rem;
    vertical-align: middle;
    color: white;
}
.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}

/*LOCATIONS STYLES*/

.event img{
    height: 7.5rem;
}
.event h3 {
    font-weight: 700;
}
.event div {
    font-family: 'Muli', sans-serif;
}
.event::after {
    content: "";
    display: block;
    height: .1875rem;
    width: 25vw;
    margin: 1.5rem auto;
}

/* PROGRAM STYLES */

.program {
    text-align: left;
    font-family: 'Muli', sans-serif;
    width: 100vw;
    background: hsla(100, 0%, 0%, .6);
    color: #d2ba87;
}
.program p {
    font-style: italic;
}
.program h2 {
   text-align: center;
   margin-top: 1rem;
}
.program ul {
    letter-spacing: .025rem;
}

/* GIFTS STYLES */
img {
    height: 7.5rem;   
}
.gifts p:last-child {
    margin-bottom: 0;
}

/* QAA */

.qaa {
    background: hsla(100, 0%, 0%, .6);
    color: #d2ba87;
    width: 100vw;
}
.qaa p {
    text-align: left;
    font-family: 'Muli', sans-serif;
}
.question {
    font-weight: 700;
    margin-bottom: .5rem;
}
.answer {
    margin-bottom: 1.5rem;
}
.qaa h2 {
    margin-top: 1rem;
}
.topics::after {
    content: "";
    display: block;
    height: .1875rem;
    width: 50vw;
    margin: 1.5rem auto;
    background-color: #d2ba87;
}

/* FOOTER STYLES */ 

footer {
    font-family: 'Muli', sans-serif;
    height: 10vh;
    width: 100vw;
    background-color: #606060;
    color: #fff;
    display: table;
    text-align: center;
    font-size: .8rem;
}
.made {
    display: table-cell;
    vertical-align: middle;
    padding: .825rem 1rem;

}
footer small {
    line-height: 1.5;
}
.made::before {
    content: "";
    display: block;
    height: .1875rem;
    width: 25vw;
    margin: .75rem auto
}
@media (min-width: 768px) {
    .cover {
        background: url(img/headerJpg.jpg) no-repeat center/cover;
    }
}
@media (min-width: 768px) {
    .header {
      padding: 22.5rem;
      border-radius: 4px;
      width: 50%;}
    }
@media (min-width: 768px) {
    .event {
      display: inline-block;
      width: 30%;
      padding: 1.5rem;
      margin: .5rem;
        }   
    .event::after {
        display: none;
      }
    }
@media (min-width: 768px) {
        .programList {
            width: 35vw;
            margin: 0 auto;
        }
    }
@media (min-width: 768px) {
        .topics {
            display: inline-block;
            width: 30%;
            vertical-align: top;
            padding: 1.5rem;
            margin: .5rem;
        }
        .topics::after {
            display: none;
        }
        .topics h3 {
            text-align: left;
        }
    }
@media (min-width: 768px) {
   footer {
       min-height: 3vh;
   } 
}

 